.wrapper {
  margin-top: 4.8rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 4rem;
}

@media(max-width: 1440px) {
  .wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media(max-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media(max-width: 550px) {
  .wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}