.form {
  margin-top: 2.6rem;
  display: flex;
  position: absolute;
  border-radius: 1.2rem;
  background-color: var(--clr-white);
  padding: 2rem;

  z-index: 10;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.formControl {
  width: 20rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formInput {
  border-right: 1px solid var(--clr-grey);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.formInputLast {
  border-right: none;
}

.label {
  color: var(--clr-cadet-grey);
  font-size: 1.6rem;
}

.select {
  font-size: 1.8rem;
  color: var(--clr-marine);
}