.wrapper {
  margin-top: 6rem;
  padding-bottom: 2rem;
}

.titleClinic {
  color: var(--clr-saphire);
  border-bottom: 1px solid var(--clr-grey);
  cursor: pointer;
}

.carousel {
  cursor: grab;
  overflow: hidden;
  width: 100%;
}

.innerCarusel {
  display: flex;
  margin-bottom: 1rem;
  margin-left: 0.3rem;
}

.innerCarusel > * {
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: center;
    width: 100%;
  }
}
