.wrapper {
  display: flex;
  margin-top: 6rem;
  gap: 3.2rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.titleClinic {
  color: var(--clr-saphire);
  border-bottom: 1px solid var(--clr-grey);
  cursor: pointer;
}