:root {
  --clr-white: #FFFFFF;
  --clr-grey: #E1E3E8;
  --clr-marine: #0F2F64;
  --clr-dusky-blue: #536288;
  --clr-cadet-grey: #8B98B8;
  --clr-platinum: #E1E3E8;
  --clr-green: #1EBCB4;
  --clr-yellow: #FFB201;
  --clr-purple: #A27FFF;
  --clr-saphire: #1E5DBC;
  --clr-crystal: #4EB2F9;
  --clr-chost-white: #e5eef8;
  --clr-black: #000000;
}



*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol
      *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--montserrat-font);
  font-size: 1.6rem;
  line-height: 160%;
  letter-spacing: 0.03em;
  color: var(--clr-dusky-blue);
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable='false'])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  /* -webkit-line-break: after-white-space; */
  -webkit-user-select: auto;
}

:where([draggable='true']) {
  -webkit-user-drag: element;
}

.section {
  padding-inline: 10rem;
  padding-block: 10rem;
}

.heading-1 {
  font-family: var(--montserrat-font);
  font-size: clamp(4.6rem, 5vw, 8rem);
  line-height: 1.2;
  color: var(--clr-saphire);
  font-weight: 700;
}

.heading-2 {
  font-family: var(--montserrat-font);
  font-size: 4rem;
  line-height: 120%;
  color: var(--clr-marine);
  font-weight: 500;
}

.heading-3 {
  font-family: var(--montserrat-font);
  font-size: 2.4rem;
  line-height: 120%;
  color: var(--clr-marine);
  font-weight: 500;
}

.container {
  max-width: 120rem;
}

.center {
  margin-inline: auto;
}

.text-center {
  text-align: center;
}

.btn-transparent {
  display: block;
  padding: 1.6rem 3.2rem;
  border: 2px solid var(--clr-saphire);
  color: var(--clr-saphire);
  font-size: 1.6rem;
  border-radius: 0.6rem;
  width: max-content;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.btn-transparent:hover, .btn-transparent:active {
  color: var(--clr-white);
  background-color: var(--clr-saphire);
}

.btn-blue {
  display: block;
  padding: 1.6rem 3.2rem;
  font-size: 1.6rem;
  background-color: var(--clr-saphire);
  color: var(--clr-white);
  border-radius: 0.6rem;
  width: max-content;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.btn-blue:hover, .btn-blue:active {
  background-color: var(--clr-marine);
}

.bg {
  background-color: var(--clr-chost-white);
}

.shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

@media(max-width: 1200px) {
  .section {
    padding: 5rem;
  }
}

@media(max-width: 768px) {
  .section {
    padding-inline: 2.4rem;
  }
}

@media not all and (min-resolution:.001dpcm) { img[loading="lazy"] { clip-path: inset(0.5px) } }
