.wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  margin-top: 6rem;
  gap: 3.2rem;
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: center;
    width: 100%;
  }
}

.map {
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 4.8rem;
  display: flex;
  border-radius: 1.2rem;
  margin-bottom: 25rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 1.6rem;
  margin-top: 3.2rem;
}

.galleryMain {
  display: flex;
}

.galleryBlock {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.imgMain {
  object-fit: cover;
}

.content {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  margin-top: 2.4rem;
  margin-bottom: 20rem;
}

@media(max-width: 500px) {
  .gallery {grid-template-columns: 1fr;}
}